@font-face {
	font-family: 'Soria';
	src: url('/Battle2Dev/assets/Fonts/soria-font-webfont.woff') format(‘woff’),
}

/* @font-face {
	font-family: 'YoungSerif';
	src: url('/Battle2Dev/assets/Fonts/YoungSerif-Regular.woff2') format(‘woff2’),
} */

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


[data-theme="light"] {
    --primary: rgb(196, 226, 136);
    --primarySemi:rgba(196, 226, 136, 0.6) ;
    --primaryTrans:rgba(196, 226, 136,0);
    --secondary: darkolivegreen;
    --tertiary: rgba(250, 86, 159, 0.64);
    --tertiaryLight: rgb(252, 240, 244);
    --emphasis: yellowgreen;
    --background: lavenderblush;
    --inputBackground:rgba(180, 248, 168, 0.3);
    --color: black;
    --shadow:rgba(9, 48, 2, 0.5);
}

[data-theme="dark"] {
    --primary: rgb(22, 37, 29);
    --primarySemi:rgba(22, 37, 29, 0.6) ;
    --primaryTrans:rgba(22, 37, 29,0);
    --secondary: rgb(216, 206, 215);
    --tertiary: rgb(117, 85, 126);
    --tertiaryLight: rgb(252, 240, 244);
    --emphasis: rgb(95, 52, 102);
    --background: #2d2a41;
    --inputBackground:rgba(218, 187, 222, 0.3);
    --color: rgb(212, 237, 163);
    --shadow:rgba(48, 2, 48, 0.5);
}


html{
    font-size: 1em;
    max-width: 100%;
}


    body{
        margin: 0;
        background-color: var(--background);
        color: var(--color);
    }


    .hero{
        height: 700px;
        background-color: var(--background);
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .hero video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    
    .hero video.dark{
        filter: grayscale(70%);
    }

    .hero .formContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 4;
        
    }

    h1{
        font-family: 'Soria', sans-serif;
        font-size: 3rem;
    }

    h2{
        font-family: 'Young Serif', sans-serif;
        font-size: calc(1.3rem + 0.5vw);
        margin-bottom: 0.5rem;
    }

    h3{
        font-family: 'Young Serif', serif;
        font-size: calc(1rem + 0.1vw);
        margin-bottom: 0.2rem;
    }

    a{
        color: var(--secondary);
    }

    

    header{
        z-index: 10;
        position: absolute;
        margin: 0;
        background: linear-gradient( var(--primary), var(--primaryTrans));
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .formContainer{ 
        background: linear-gradient( var(--primaryTrans), var(--primarySemi), var(--primaryTrans));
        backdrop-filter: blur(10px);
        width: calc(15rem + 2vw);
        border-radius: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        margin: 1.5rem;
        width: 200px;
    }
    .inputForm{
        font-family: 'Space Grotesk', sans-serif;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    label{
        padding-top: 0.5rem;
    }

    input {
        width: 100%;
        border-radius: 0.7rem 0 2rem 0;
        border: 1.5px solid var(--secondary);
        background-color: var(--inputBackground);
    }

    ::placeholder{
        color: var(--secondary);
    }

    .button{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    button{
        font-family: 'Soria', serif;
        font-size: large;
        border-radius: 5rem 0 5rem 0;
        border: none;
        color: var(--color);
        background-color: var(--emphasis);
        padding-inline: 1.2rem;
        padding-top: 0.4rem;
        box-shadow: 2px 2px 5px 1px var(--shadow);
        transition: all 0.3s ease-in;
        
    }

    button:hover{
        color:var(--tertiaryLight);
        background-color: var(--tertiary);
        border-radius: 5rem ;
        transition: all 0.3s ease-in;
    }

    footer{
        position: relative;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient( var(--primary), var(--primaryTrans));
    }

/* CSS toggle */

.toggle{
    position: absolute;
    z-index: 20;
    width: auto;
    height: 100px;
    margin-left: 5vw;
    display: flex;
    align-items: center;
}



.switch-3 {
    --dark-sky: #2d2a41;
    --moon: #ede5a3;
    --light-sky: var(--tertiary);
    --sun: #f7f7f7;
    display: inline-block;
    position: relative;
    border-radius: 5em;
    box-shadow: 2px 2px 5px 1px var(--shadow), inset 2px 2px 5px 1px var(--shadow);
    cursor: pointer;
    width: 60px;
    height: 25px;
    overflow: hidden;
    scale: 0.7;
    transition: all 0.5s;
}

.switch-3 .back {
    background-color: var(--light-sky);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s ease-in-out;
  }
  
  .switch-3 .checkbox {
    opacity: 0;
  }
  
  .switch-3 .checkbox:checked ~ .back {
    background-color: var(--dark-sky);
  }
  
  .switch-3 .checkbox:checked ~ .sun {
    transform: translateX(24px) rotate(180deg);
    opacity: 0;
  }
  
  .switch-3 .checkbox:checked ~ .moon {
    transform: translateX(24px) rotate(360deg);
    opacity: 1;
  }
  
  .switch-3 .sun {
    position: absolute;
    left: 6px;
    top: 4px;
    height: 24px;
    fill: var(--sun);
    transition: 0.5s;
  }
  
  .switch-3 .moon {
    position: absolute;
    left: 6px;
    top: 4px;
    height: 24px;
    fill: var(--moon);
    transition: 0.5s;
    opacity: 0;
  }
